<div class="info">
  <mat-tab-group color="accent">
    <mat-tab label="How to Play">
      <pre class="info__content">
- Click the bacteria to kill them.
- Reach {{gameSettings?.winScore}} points to win!
- If {{gameSettings?.startLives}} or more bacteria get too big you will lose :(
      </pre>
    </mat-tab>
    <mat-tab label="Settings">
      <div class="info__settings">
        <div class="info__settings-slider">
          <p class="info__settings-slider--title">Win Score: {{gameSettings?.winScore}}</p>
          <mat-slider
            class="info__settings-slider--slider"
            color="accent"
            min="10"
            max="100"
            tickInterval="1"
            step="5"
            thumbLabel
            [value]="gameSettings?.winScore"
            (input)="updateSettings($event.value, null, null, null, null, null)"
          >
          </mat-slider>
        </div>
        <div class="info__settings-slider">
          <p class="info__settings-slider--title">Lives: {{gameSettings?.startLives}}</p>
          <mat-slider
            class="info__settings-slider--slider"
            color="warn"
            min="1"
            max="10"
            tickInterval="1"
            thumbLabel
            [value]="gameSettings?.startLives"
            (input)="updateSettings(null, $event.value, null, null, null, null)"
          >
          </mat-slider>
        </div>
        <div class="info__settings-slider">
          <p class="info__settings-slider--title">Bacteria Growth Rate: {{getGrowthRate()}}</p>
          <mat-slider
            class="info__settings-slider--slider"
            color="accent"
            min="0.1"
            max="0.5"
            step="0.05"
            tickInterval="1"
            thumbLabel
            [value]="gameSettings?.growthRate"
            (input)="updateSettings(null, null, $event.value, null, null, null)"
          >
          </mat-slider>
        </div>
        <div class="info__settings-slider">
          <p class="info__settings-slider--title">Bacteria Spawn Chance: {{getSpawnChance()}}%</p>
          <mat-slider
            class="info__settings-slider--slider"
            color="warn"
            min="0.002"
            max="0.005"
            step="0.00025"
            tickInterval="1"
            thumbLabel
            [value]="gameSettings?.startSpawnChance"
            (input)="updateSettings(null, null, null, $event.value, null, null)"
          >
          </mat-slider>
        </div>
        <div class="info__settings-slider">
          <p class="info__settings-slider--title">Bacteria Spawn Chance Growth Rate: {{getSpawnChanceGrowth()}}%</p>
          <mat-slider
            class="info__settings-slider--slider"
            color="accent"
            min="0.0005"
            max="0.005"
            step="0.00025"
            tickInterval="1"
            thumbLabel
            [value]="gameSettings?.spawnChanceGrowth"
            (input)="updateSettings(null, null, null, null, $event.value, null)"
          >
          </mat-slider>
        </div>
        <div class="info__settings-slider">
          <p class="info__settings-slider--title">Bacteria Spawn Cap: {{gameSettings?.spawnCap}}</p>
          <mat-slider
            class="info__settings-slider--slider"
            color="accent"
            min="5"
            max="10"
            step="1"
            tickInterval="1"
            thumbLabel
            [value]="gameSettings?.spawnCap"
            (input)="updateSettings(null, null, null, null, null, $event.value)"
          >
          </mat-slider>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
