.scene {
  padding: 2rem 6rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 10rem;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__right {
    flex-grow: 2;
  }


  &__canvas {
    border-radius: 4px;
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__score {
    padding: 1rem 1rem;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__lives {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

}
