<div class="scene">
  <div class="scene__left">
    <div class="scene__canvas-container">
      <canvas #sceneCanvas class="scene__canvas" width="{{canvasSize.x}}" height="{{canvasSize.y}}">
        Your browser doesn't appear to support the
        <code>&lt;canvas&gt;</code> element.
      </canvas>
    </div>
    <div class="scene__bottom">
      <div class="scene__score">
        <p>Score: {{score}}</p>
        <p *ngIf="!running">{{gameOverText}}</p>
      </div>
      <button *ngIf="!running"
              (click)="startGame()"
              mat-button mat-raised-button color="primary"
              style="height: fit-content"
      >
        Play again
      </button>
    </div>
  </div>
  <div class="scene__right">
    <app-info></app-info>
  </div>
</div>
